#adminColumnHeaders{display: flex; font-size: 12px; margin-bottom: 15px; padding: 7px 7px 7px 15px; color:white; background: #243b56; border-radius: 4px;}
  #adminColumnHeaders div:nth-child(1){width:5%;}
  #adminColumnHeaders div:nth-child(2){width:10%;}
  #adminColumnHeaders div:nth-child(3){width:5%;}
  #adminColumnHeaders div:nth-child(4){width:15%;}
  #adminColumnHeaders div:nth-child(5){width:13%;}
  #adminColumnHeaders div:nth-child(6){width:8%;}
  #adminColumnHeaders div:nth-child(7){width:8%;}
  #adminColumnHeaders div:nth-child(8){width:36%;}
#adminTicketList{padding:7px 7px 7px 11px;}
  #adminTicketList .ticket .ticketCell:nth-child(1){width:5%;}
  #adminTicketList .ticket .ticketCell:nth-child(2){width:10%;}
  #adminTicketList .ticket .ticketCell:nth-child(3){width:5%;}
  #adminTicketList .ticket .ticketCell:nth-child(4){width:15%;}
  #adminTicketList .ticket .ticketCell:nth-child(5){width:13%;}
  #adminTicketList .ticket .ticketCell:nth-child(6){width:8%;}
  #adminTicketList .ticket .ticketCell:nth-child(7){width:8%;}
  #adminTicketList .ticket .ticketCell:nth-child(8){width:36%;}
#topContainer{display: flex;}
#statsContainer{margin-left: 150px;}
  #statsContainer div{padding:5px;}
#pageNavBtnContainer{display: flex; margin: 11px;}
.pageNavBtn{ margin-right: 20px; border: 1px solid #243b56; padding: 4px; border-radius: 4px; cursor: pointer; color: #243b56; height: 29px;}
.pageNavBtn:hover{background:#243b56; color:white;}
#navText{margin:0px 10px 0px 10px; line-height: 27px;}
#productGroupToggle{width: 105px; text-align: center;}
#stateToggle{width: 105px; text-align: center;}
