.page-title{display:none;}
#contentContainer{position: relative; left: 50%; transform: translateX(-50%); width: 910px; background: white; border-radius: 4px;}
  #listView{width: 895px; margin:0px auto;}
    #intakeFormHeader{margin-bottom: 65px;}
    #columnHeaders{display: flex; font-size: 12px; margin-bottom: 15px; padding: 7px 7px 7px 15px; color:white; background: #243b56; border-radius: 4px;}
      #columnHeaders div:nth-child(1){width:102px;}
      #columnHeaders div:nth-child(2){width:66px;}
      #columnHeaders div:nth-child(3){width:154px;}
      #columnHeaders div:nth-child(4){width:450px;}
      #columnHeaders div:nth-child(5){width:138px;}
    #ticketList{padding:7px 7px 7px 11px;}
      .ticket{display:flex; margin-bottom: 10px; font-size: 13px;}
        .ticket div{padding-right: 10px;}
        .ticket div:nth-child(1){width:102px;}
          .ticket .editBtn{width: 30px !important; height: 30px; font-size: 20px; text-align: center; border: 1px solid lightgray; border-radius: 4px; padding:0; line-height: 13px; cursor: pointer;}
        .ticket div:nth-child(2){width:66px;}
        .ticket div:nth-child(3){width:154px;}
        .ticket div:nth-child(4){width:450px;}
        .ticket div:nth-child(5){width:138px;}
      #addNewRequest{display: flex; padding: 7px 7px 7px 11px}
        #addNewRequest a {line-height: 27px; color: #007bd7}
        #newRequestBtn{background: green; cursor: pointer; color: white; font-size: 27px; width: 30px; height: 30px; border-radius: 4px; text-align: center; font-weight: bold; margin-right: 10px; line-height: 25px;}
        #cancelBtn{width:130px; font-size: 12px;margin: 0px auto; margin-bottom: 5px; margin-top: 5px; cursor:pointer; text-align: center;}
  .intakeFormSection.disabled{color:lightgray !important;}
    .intakeFormSection.disabled .formInput{color:lightgray !important; border-color:lightgray !important;}
