#intakeFormContentContainer p {margin:10px; font-family: "SegoeUI Light", "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px;}
/*Thank you screen styles*/
#intakeFormThankYou{text-align: center; padding: 15px 15px 15px 15px; }
  #intakeFormThankYou h1, #intakeFormThankYou h3 {color:#243b56;}
/*form selection container styles*/
#formselectionContainer{margin:15px 15px 25px 15px; height: 0px; overflow: hidden;}
  #selectionLinks {float:right;}
  #formselectionContainer .flexibleDisplay p{font-size:14px !important;}
  #formSelectionItem{width: 225px; margin-top:5px; margin-left: 10px; border-radius:4px; position: relative;}
    #formSelectionItem .typeOfRequest{padding:5px; cursor:pointer;}
    #formSelectionItem .typeOfRequest:hover{background:rgb(172, 177, 170); border-radius: 4px;}
    #formSelectionItem .typeOfRequest:hover{background:rgb(172, 177, 170); border-radius: 4px;}
    #hoverBar{width: 225px; height: 29px; position: absolute; background: rgb(172, 177, 170); border-radius: 4px; padding:5px; z-index: -1;}
    #selectionBackground{position: absolute; height: 145px; width: 225px; top: 0; background: #e7ffe7; z-index: -2;}
  /*  #formSelectionItem .typeOfRequest.selected{background:rgb(172, 177, 170); color:white; border-radius: 4px;}*/
    /*Intake form specific section styling*/
    .autocomplete{width: 295px; background: white; border: 1px solid lightgray; border-top: none; position: absolute; z-index: 1;}
      .autocomplete div{padding: 5px; cursor: pointer;}
      .autocomplete div:hover{background: lightgray;}
    .fakeCheckbox{height: 20px; width: 20px; background: rgb(237, 235, 235);border: 1px solid #ababab;}
      #checkmarkTop{width: 16px; height: 2px; position: relative;background: #243b56; transform: rotate(-55deg); top: 8px; left: 4px;}
      #checkmarkBottom{width: 9px; height: 2px; position: relative; background: #243b56; transform: rotate(-139deg); top: 10px; left: 0px;}
    #screenOverlay{position: absolute; width: 106%; height: 138%; top: -327px; left: -23px;}
    /*date picker input styles*/
    #datePicker{position: relative;; z-index: 1; top:-100px; left:115px;}
      #calendarImg{width: 22px; height: auto; position: absolute; cursor:pointer;}
      .ui-datepicker-inline{background:white; border: 1px solid lightgray; padding:5px; position: absolute;}
        .ui-widget-header{border: none !important; background:#243b56 !important;}
        .ui-state-default, .ui-widget-content .ui-state-default{border: 1px solid white !important; background: white !important; font-weight: normal !important; color: black !important;}
        .ui-state-active, .ui-widget-content .ui-state-active {border: 1px solid #243b56 !important; background: #243b56 !important; font-weight: normal !important; color: #ffffff !important;}
        .ui-datepicker-next-hover, .ui-state-hover{border:none !important; background: none !important;}
        .ui-widget-content{color:black !important; cursor: pointer !important; text-align: center !important;}
    /*see example button styles*/
    .seeExampleButton{background:rgb(237, 235, 235); border:1px solid rgb(213, 217, 211);  width: 20px; height: 20px; margin: 10px 10px 10px 5px; border-radius: 4px;}
    .seeExampleButton:hover{background: rgb(109, 112, 109);}
    .seeExampleButton.selected{background: rgb(109, 112, 109);}
    .seeExampleImage{margin:0 0 0 0px; padding: 15px 0 15px 0;}

  /*
  #ninjaTile{width: 100px; height: 100px; position: absolute; left: 795px; top:50px; background: white; z-index: 2;}
  #ninjaButton{width: 90px; position: absolute; left: 795px; top: 50px; z-index: 1;}
  #ninjaCat{width: 200px; position: absolute; z-index: 3;}*/
